@import 'variables.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: white;
  color: #0a0a0a;
}

.container {
  width: 82%;
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
